<div>
    <h2>Transportes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transporte.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nueva unidad de transporte
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marca"><span>Marca</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tracto"><span>MTC Tracto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carreta"><span>MTC Carreta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="placaTracto"><span>N° placa tracto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="placaCarreta"><span>N° placa carreta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="largoCarreta"><span>Largo carreta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="anchoCarreta"><span>Ancho carreta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="altoCarreta"><span>Alto carreta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cargaUtil"><span>Carga util</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registroMatpel"><span>Registro MATPEL</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gps"><span>Gps</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="anoFabricacion"><span>Año de fabricación</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unidadPropia"><span>Unidad propia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoUnidad.nombre"><span>Tipo de unidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transporte in vm.transportes track by transporte.id">
                    <td><a ui-sref="transporte-detail({id:transporte.id})">{{transporte.id}}</a></td>
                    <td>{{transporte.marca}}</td>
                    <td>{{transporte.tracto}}</td>
                    <td>{{transporte.carreta}}</td>
                    <td>{{transporte.placaTracto}}</td>
                    <td>{{transporte.placaCarreta}}</td>
                    <td>{{transporte.largoCarreta}}</td>
                    <td>{{transporte.anchoCarreta}}</td>
                    <td>{{transporte.altoCarreta}}</td>
                    <td>{{transporte.cargaUtil}}</td>
                    <td>{{transporte.registroMatpel?'Si':'No'}}</td>
                    <td>{{transporte.gps?'Si':'No'}}</td>
                    <td>{{transporte.anoFabricacion}}</td>
                    <td>{{transporte.unidadPropia?'Si':'No'}}</td>
                    <td>
                        <a ui-sref="tipo-unidad-detail({id:transporte.tipoUnidad.id})">{{transporte.tipoUnidad.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transporte-detail({id:transporte.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transporte.edit({id:transporte.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transporte.delete({id:transporte.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
