<div>
    <h2>Proveedores</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="proveedor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Crear nuevo proveedor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="ruc"><span>Ruc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span>Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telefono"><span>Telefono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direccion"><span>Direccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contacto"><span>Contacto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="banco"><span>Banco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCuenta"><span>Numero Cuenta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCuentaInterbancario"><span>Numero Cuenta Interbancario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCuentaDetraccion"><span>Numero Cuenta Detraccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="matpel"><span>Matpel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proveedor in vm.proveedors track by proveedor.id">
                    <td>{{proveedor.ruc}}</td>
                    <td>{{proveedor.nombre}}</td>
                    <td>{{proveedor.telefono}}</td>
                    <td>{{proveedor.direccion}}</td>
                    <td>{{proveedor.contacto}}</td>
                    <td>{{proveedor.email}}</td>
                    <td>{{proveedor.banco}}</td>
                    <td>{{proveedor.numeroCuenta}}</td>
                    <td>{{proveedor.numeroCuentaInterbancario}}</td>
                    <td>{{proveedor.numeroCuentaDetraccion}}</td>
                    <td>{{proveedor.matpel}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="proveedor-detail({id:proveedor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="proveedor.edit({id:proveedor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="proveedor.delete({id:proveedor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
