<div>
    <h2>Facturas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="factura.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Factura
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigo"><span>Codigo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span>Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="guiaRemision.codigo"><span>Guia Remision</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.nombre"><span>Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="servicio.nombre"><span>Servicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="precioUnitario"><span>Precio Unitario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cantidad"><span>Cantidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="precioBase"><span>Precio Base</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="igv"><span>Igv</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descuento"><span>Descuento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoDescuento"><span>Tipo Descuento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="precioTotal"><span>Precio Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="factura in vm.facturas track by factura.id">
                    <td><a ui-sref="factura-detail({id:factura.id})">{{factura.id}}</a></td>
                    <td>{{factura.codigo}}</td>
                    <td>{{factura.fecha | date:'medium'}}</td>
                    <td>
                        <a ui-sref="guia-remision-detail({id:factura.guiaRemision.id})">{{factura.guiaRemision.codigo}}</a>
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:factura.cliente.id})">{{factura.cliente.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="servicio-detail({id:factura.servicio.id})">{{factura.servicio.nombre}}</a>
                    </td>
                    <td>{{factura.precioUnitario | currency : 'S/.'}}</td>
                    <td>{{factura.cantidad}}</td>
                    <td>{{factura.precioBase | currency : 'S/.'}}</td>
                    <td>{{factura.igv | currency : 'S/.'}}</td>
                    <td>{{factura.descuento}}</td>
                    <td>{{factura.tipoDescuento}}</td>
                    <td>{{factura.precioTotal | currency : 'S/.'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="factura-detail({id:factura.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="factura.edit({id:factura.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="factura.delete({id:factura.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
