<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFacturaLabel">Crear o editar Factura</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.factura.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.factura.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codigo">Código</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                   ng-model="vm.factura.codigo"
                   required/>
            <div ng-show="editForm.codigo.$invalid">
                <p class="help-block"
                   ng-show="editForm.codigo.$error.required">
                    Este campo es obligatorio.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
            <div class="input-group">
                <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}"
                       ng-model="vm.factura.fecha"
                       ng-init="vm.factura.fecha = vm.factura.fecha || date_code"
                       is-open="vm.datePickerOpenStatus.fecha"
                       required/>
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                   ng-show="editForm.fecha.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                   ng-show="editForm.fecha.$error.ZonedDateTimelocal">
                    Ingrese una fecha y hora válidas.
                </p>
            </div>
        </div>

        <!--<div class="form-group">-->
        <!--<label for="field_guiaRemision">Guia Remision</label>-->
        <!--<select class="form-control" id="field_guiaRemision" name="guiaRemision" ng-model="vm.factura.guiaRemision"-->
        <!--ng-options="guiaRemision as guiaRemision.codigo for guiaRemision in vm.guiaremisions track by guiaRemision.id"-->
        <!--ng-init="vm.factura.guiaRemision = vm.factura.guiaRemision || guia_selected">-->
        <!--<option value=""></option>-->
        <!--</select>-->
        <!--</div>-->

        <div class="form-group">
            <label>Guia Remision</label>
            <angucomplete-alt id="ex1"
                              placeholder="Ingrese codigo de guia de remision"
                              pause="100"
                              selected-object="addGuiaToArray"
                              local-data="guiaremisions"
                              search-fields="codigo"
                              title-field="codigo"
                              minlength="1"
                              input-class="form-control form-control-small"
                              override-suggestions="true"
                              field-required="false"/>
        </div>


        <div class="form-group" ng-show="vm.guiasSeleccionadas.length > 0">
            <ul>
                <li ng-repeat="guia in vm.guiasSeleccionadas">
                    <span>{{guia.codigo}}</span>
                    <button ng-click="removeGuiaFromArray(guia.id)">Eliminar</button>
                </li>
            </ul>
        </div>


        <div class="form-group">
            <label for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" ng-model="vm.factura.cliente"
                    ng-options="cliente as cliente.nombre for cliente in vm.clientes track by cliente.id" required
                    ng-init="vm.factura.cliente = vm.factura.cliente || vm.guiasSeleccionadas[0].cliente || vm.factura.cliente">
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.cliente.$invalid">
            <p class="help-block"
               ng-show="editForm.cliente.$error.required">
                Este campo es obligatorio.
            </p>
        </div>
        <div class="form-group">
            <label for="field_servicio">Servicio</label>
            <select class="form-control" id="field_servicio" name="servicio" ng-model="vm.factura.servicio"
                    ng-options="servicio as servicio.nombre for servicio in vm.servicios track by servicio.id"
                    ng-init="vm.factura.servicio = vm.factura.servicio || vm.factura.guiaRemision.cotizacion.servicio"
            >
                <option value=""></option>
            </select>
        </div>
        <!--<div ng-show="editForm.servicio.$invalid">-->
            <!--<p class="help-block"-->
               <!--ng-show="editForm.servicio.$error.required">-->
                <!--Este campo es obligatorio.-->
            <!--</p>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" for="field_precioUnitario">Precio unitario</label>
            <input type="number" class="form-control" name="precioUnitario" id="field_precioUnitario"
                   ng-model="vm.factura.precioUnitario"
                   ng-blur="vm.calcularPrefioFinal()"
                   ng-init="vm.factura.precioUnitario = vm.factura.precioUnitario || vm.factura.guiaRemision.cotizacion.precio"
                   />
            <div ng-show="editForm.precioUnitario.$invalid">
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.precioUnitario.$error.required">-->
                    <!--Este campo es obligatorio.-->
                <!--</p>-->
                <p class="help-block"
                   ng-show="editForm.precioUnitario.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                   ng-model="vm.factura.cantidad"
                   ng-blur="vm.calcularPrefioFinal()"
                   ng-init="vm.factura.cantidad = vm.factura.cantidad || vm.factura.guiaRemision.cantidad"
                   />
            <div ng-show="editForm.cantidad.$invalid">
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.cantidad.$error.required">-->
                    <!--Este campo es obligatorio.-->
                <!--</p>-->
                <p class="help-block"
                   ng-show="editForm.cantidad.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <!--<div class="form-group">-->
        <!--<label class="control-label" for="field_descuento">Descuento</label>-->
        <!--<input type="number" class="form-control" name="descuento" id="field_descuento"-->
        <!--ng-model="vm.factura.descuento"-->
        <!--ng-readonly="false"-->
        <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="control-label" for="field_tipoDescuento">Tipo Descuento</label>-->
        <!--<input type="text" class="form-control" name="tipoDescuento" id="field_tipoDescuento"-->
        <!--ng-model="vm.factura.tipoDescuento"-->
        <!--ng-readonly="false"-->
        <!--/>-->
        <!--</div>-->

        <div class="form-group">
            <label class="control-label" for="field_descuento">Descuento</label>
            <input type="number" class="form-control" name="descuento" id="field_descuento"
                   ng-init="vm.factura.descuento = vm.factura.descuento || vm.factura.cliente.descuento"
                   ng-model="vm.factura.descuento" ng-readonly="false"
                   ng-blur="vm.calcularPrefioFinal()"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipoDescuento">Tipo Descuento</label>
            <select class="form-control" name="tipoDescuento" ng-model="vm.factura.tipoDescuento"
                    id="field_tipoDescuento" ng-change="vm.calcularPrefioFinal()"
                    ng-init="vm.factura.tipoDescuento = vm.factura.tipoDescuento || vm.factura.cliente.tipoDescuento">
                <option value="porcentaje" data-translate="hmtcargaApp.TIPO_DESCUENTO.porcentaje">Porcentaje</option>
                <option value="monto" data-translate="hmtcargaApp.TIPO_DESCUENTO.monto">Monto</option>
            </select>
        </div>


        <div class="form-group">
            <label class="control-label" for="field_contingencia">Contingencia</label>
            <input type="text" class="form-control" name="contingencia" id="field_contingencia"
                   ng-model="vm.factura.contingencia"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_motivo">Motivo</label>
            <input type="text" class="form-control" name="motivo" id="field_motivo"
                   ng-model="vm.factura.motivo"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="field_precio"
                   ng-model="vm.factura.precio"  ng-blur="vm.calcularPrefioFinal()"
            />
        </div>


        <div class="form-group">
            <label class="control-label" for="field_precioBase">Precio Base</label>
            <input type="number" class="form-control" name="precioBase" id="field_precioBase"
                   ng-model="vm.factura.precioBase"
                   ng-init="vm.factura.precioBase"
                   ng-readonly="true"/>
            <div ng-show="editForm.precioBase.$invalid">
                <p class="help-block"
                   ng-show="editForm.precioBase.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                   ng-show="editForm.precioBase.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_igv">IGV</label>
            <input type="number" class="form-control" name="igv" id="field_igv"
                   ng-model="vm.factura.igv"
                   required ng-readonly="true"/>
            <div ng-show="editForm.igv.$invalid">
                <p class="help-block"
                   ng-show="editForm.igv.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                   ng-show="editForm.igv.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label" for="field_precioTotal">Precio Total</label>
            <input type="number" class="form-control" name="precioTotal" id="field_precioTotal"
                   ng-model="vm.factura.precioTotal"
                   required ng-readonly="true"/>
            <div ng-show="editForm.precioTotal.$invalid">
                <p class="help-block"
                   ng-show="editForm.precioTotal.$error.required">
                    Este campo es obligatorio.
                </p>
                <p class="help-block"
                   ng-show="editForm.precioTotal.$error.number">
                    Este campo solo acepta números.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_precioTotal">Nro Orden de Compra</label>
            <input class="form-control" name="numeroOrdenCompra" id="field_numeroOrdenCompra"
                   ng-model="vm.factura.numeroOrdenCompra" />
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
        <!--<a ng-click="getPdf()">Show PDF</a>-->
    </div>
</form>
